@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#5d2e2e;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#000000;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#1b1b1b;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#ffffff;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
}

section{
    min-height: 75vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#945a5a;
    color:#ffffff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin-left: 10px;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

/* ------nav------- */


a {   
    color: #5d2e2e;
}

a:active {
    color: #5d2e2e;
}

#nav-menu{
    /* width: auto; */
    /* border: 2px solid red; */
    display: flex;
    
    padding: 5px 5px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.logo{
    display: flex;
/* border: 2px solid red; */
padding: 5px 5px;
width: 6%;

}

.iconlogo{
    width: 100%;
    border-radius: 50%;
}
#nav-right{
    display: flex;
    /* border: 2px solid black; */
    /* justify-content:end; */
}
#nav-content{
    display: flex;
    list-style-type: none;

}

#nav-content li {
    align-self: center;
    margin: 0px 40px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
  
}
#nav-content li:hover{
    
    background: #ebe9fd;
    transition: all 0.3s ease-out;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#nav-content li a{
text-decoration: none;
font-size: 20px;
padding: 15px 20px;


}

#resume-link-1{
    align-self: center;
background: #482727;
transition: all 0.5s ease-out;
}
#resume{
    color: white;
}
#nav-content li:last-child{
    /* color: white; */
    background: #71474c;
 
}


/* ------nav------- */

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid rgba(8, 8, 8, 0.267);
    color:#000000;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#eae6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid #945a5a;
}

header .user .name{
    font-size: 3.5rem;
    color:#030303;
}

header .user .post{
    font-size: 2rem;
    color:#1c1c1c;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#945a5a;
    color:#ffffff;
    font-size: 2rem;
    border-radius: 1rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#212121;
    color:#0b0b0b;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0 15rem;
}
.home>div:nth-child(1){
    width: 75%;
}
.home h3{
    font-size: 2.5rem;
    color:#282828;
}

.home h1{
    font-size:5rem;
    color:#131313;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#1e1e1e;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#282828;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#000000;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #945a5a;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#ededed;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#121212;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#393939;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#000000;
    background:#945a5a;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#e0e0e033;
    color:#000000;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#0e0e0e;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#4e4e4e;
    padding:1rem 0;
    font-weight: normal;
    text-transform: none;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

.mainC{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid palevioletred;
}
.mainC>div{
    width: 100%;
    margin-left: 5%;
}
.prj-flex{
    margin-top: 30px;
    
}
.prj-flex1{
    width: 95%;
    /* border: 1px solid red; */
    height: 30px;
    margin-top: 10px;
    
}
.prj-flex1>h1{
    color: #5d2e2e;
    font-size: 30px;
   text-align: center;
   text-decoration: underline;
   
}
.prj-flex2{
    width: 95%;
    /* border: 1px solid green; */
    height: 170px;
    margin-top: 25px;
}
.prj-flex3{
    width: 95%;
    border: 1px solid rgb(50, 50, 50);
    height: 300px;
    
}
.tech{
    color: #5d2e2e;
    font-size: 20px;
}
.prj-flex2>h3{
    color: #5d2e2e;
    font-size: 18px;
}
.margin{
    margin-left: 5%;
}
.img{
    width: 100%;
    height: 100%;
}


#github-stats{
    text-align: center;
    color: rgb(4, 4, 4);
}

.project-card{
    width: 47%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

b{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}












/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }
   
 }

 .pro2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
 }